<%- include('layout/header_switches_') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card-shadow">
                    <div class="card-header bg-dark">
                        <h6 class="text-light">Edit switch <%= switches_.name %></h6>
                    </div>
                    <div class="card-body p-4">
                        <form action="/update_switches_/<%= switches_._id %>" method="post" id="add-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="brand">Brand Name</label>
                                <input type="text" name="brand" class="form-control form-control-md" placeholder="Enter Brand" value="<%= switches_.brand %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="assetTag">Asset Tag</label>
                                <input type="text" name="assetTag" class="form-control form-control-md" placeholder="Enter Asset Tag" value="<%= switches_.tag %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="brand">Department</label>
                                <input type="text" name="brand" class="form-control form-control-md" placeholder="Enter Department" value="<%= switches_.department %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="location">Location</label>
                                <input type="text" name="location" class="form-control form-control-md" placeholder="Enter Location" value="<%= switches_.location %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Select Image</label>
                                <input class="form-control form-control-md" type="file" name="image" />
                            </div>
                            <input type="hidden" name="old_image" value="<%= switches_.image %>" />
                            <img src="/<%= switches_.image %>" width="100" class="img-thumbnail mt-1" alt="" />
                            <div class="mb-3 d-grid">
                                <input type="submit" name="submit" value="update switch" class="btn btn-dark btn-md" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('layout/footer_switches_') %>
