<%- include('layout/header_hdfd') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card-shadow">
                    <div class="card-header bg-dark">
                        <h6 class="text-light">Edit Peripherals <%= peripherals.name %></h6>
                    </div>
                    <div class="card-body p-4">
                        <form action="/update_peripherals/<%= peripherals._id %>" method="post" id="add-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="serialNumber">Serial Number</label>
                                <input type="text" name="serialNumber" class="form-control form-control-md" placeholder="Enter Serial Number" value="<%= peripherals.serialNumber %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="brand">Brand</label>
                                <input type="text" name="brand" class="form-control form-control-md" placeholder="Enter Brand" value="<%= peripherals.brand %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="assetTag">Asset Tag</label>
                                <input type="text" name="assetTag" class="form-control form-control-md" placeholder="Enter Asset Tag" value="<%= peripherals.tag %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="location">Location</label>
                                <input type="text" name="location" class="form-control form-control-md" placeholder="Enter Location" value="<%= peripherals.location %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Select Image</label>
                                <input class="form-control form-control-md" type="file" name="image" />
                            </div>
                            <input type="hidden" name="old_image" value="<%= peripherals.image %>" />
                            <img src="/<%= peripherals.image %>" width="100" class="img-thumbnail mt-1" alt="" />
                            <div class="mb-3 d-grid">
                                <input type="submit" name="submit" value="update peripherals" class="btn btn-dark btn-md" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('layout/footer_hdfd') %>
