<%- include('layout/header_apc') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card-shadow">
                    <div class="card-header bg-dark">
                        <h6 class="text-light">Edit APC UPS <%= apc.name %></h6>
                    </div>
                    <div class="card-body p-4">
                        <form action="/update_apc/<%= apc._id %>" method="post" id="add-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="assetTag">Asset Tag</label>
                                <input type="text" name="assetTag" class="form-control form-control-md" placeholder="Enter Asset Tag" value="<%= apc.tag %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="location">Location</label>
                                <input type="text" name="location" class="form-control form-control-md" placeholder="Enter Location" value="<%= apc.location %>" required />
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Select Image</label>
                                <input class="form-control form-control-md" type="file" name="image" />
                            </div>
                            <input type="hidden" name="old_image" value="<%= apc.image %>" />
                            <img src="/<%= apc.image %>" width="100" class="img-thumbnail mt-1" alt="" />
                            <div class="mb-3 d-grid">
                                <input type="submit" name="submit" value="update APC UPS" class="btn btn-dark btn-md" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('layout/footer_apc') %>
